@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #eee;
    padding: 60px;
}

.card-container {
    position: relative;
    display: flex;
    width: 689px;
    background-color: #fff;
    border-radius: 12px;
    cursor: pointer;
}

.badge-light {
    position: absolute;
    background-color: #35c768;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    padding: 3px 6px;
    border-radius: 10px;
    letter-spacing: .5px;
    top: -10px;
    left: 10px;
}

.icons-set {
    display: flex;
    justify-content: space-between;
}

.airs-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.action-icons {
    display: flex;
    gap: 10px;
}

.air-btn {
    outline: none;
    border: none;
    width: 24px;
    height: 24px;
    margin: 0 7px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(51, 51, 51, 0.37);
}

.tro-icon {
    -webkit-mask: url("./tro.svg") center center/cover no-repeat;
    width: 100%;
    height: 100%;
    background-color: #ff6f32;
}

.noti-icon {
    -webkit-mask: url("./noti.svg") center center/cover no-repeat;
    width: 100%;
    height: 100%;
    background-color: #a4b0b9;
}

.exit-icon {
    -webkit-mask: url("./exit.svg") center center/cover no-repeat;
    width: 100%;
    height: 100%;
    background-color: #a4b0b9;
    transition: all .2s ease;
}

.wrap-tip {
    width: 24px;
    height: 24px;
}

.wrap-tip:hover .noti-icon,
.wrap-tip:hover .exit-icon {
    background-color: #0c73fe;
    transition: all .2s ease;
}

.icon_one,
.icon_two {
    background: url("./st-logo.png") center center/cover no-repeat;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.icon_two {
    background: url("./nd-logo.png") center center/cover no-repeat; 
}

.price-side {
    font-size: 23px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 10px;
    border-right: 1px solid #eee;
}

.orange-btn {
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    width: 174px;
    height: 48px;
    /* padding: 15px 20px; */
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #ff6f32;
    color: #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px 20px;
}

.ticket {
    display: flex;
    margin: 0 0 20px 0;
}

.content-side > .ticket:last-child {
    border-top: 1px solid #eee;
    margin: 0;
    padding: 20px 0 0 0;
}

.first-col,
.second-col,
.third-col {
    display: flex;
    flex-direction: column;
}

.first-col,
.third-col {
    width: 105px;
}

.second-col {
    flex-grow: 1;
    justify-content: space-between;
}

.third-col {
    padding-top: 5px;
    align-items: flex-end;
}

.third-col .time {
    margin: 0 0 10px 0;
}

.time {
    font-size: 28px;
}

.icons-set {
    height: 44px;
}

.icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #a4b0b9;
}


.pin-icon {
    display: block;
    -webkit-mask: url("./pip.svg") center center/cover no-repeat;
    background: #a4b0b9;
    width: 10px;
    height: 10px;
    transition: all .1s ease;
}

.icon-wrap:hover {
    border-color: #0c73fe;
    background-color: #0085ff17;
}

.icon-wrap:hover .pin-icon {
    background: #0c73fe;
}

.plane-icon {
    display: block;
    -webkit-mask: url("./plane.svg") center center/cover no-repeat;
    background: #a4b0b9;
    width: 20px;
    height: 20px;
}

.plane-icon.down {
    transform: rotate(60deg);
}

.orange-hover:hover .plane-icon {
    background-color: orange;
}

.orange-hover:hover .point {
    color: orange;
}

/* #0c73fe */

.time-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 0 0 0;
    margin: 0 0 5px 0;
}

.base-text {
    font-size: 13px;
    color: #a4aeb9;
    line-height: 20px;
}

.second-col {
    padding-top: 15px;
    position: relative;
    width: 218px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.second-col > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0;
    height: 66px;
}

.point {
    color: #0c73fe;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
}

.timeline {
    position: absolute;
    display: block;
    width: 100%;
    height: 30px;
    background: transparent;
    border-radius: 2.5rem;
    top: 40%;
    z-index: 1;
}

.timeline span {
    width: 100%;
    display: block;
    height: 6px;
    top: 10px;
    position: absolute;
}

.timeline span::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: #cdd4de;
    border-radius: 2rem;
    left: 0;
    top: 50%;
    border: 1px solid transparent;
}

.timeline span:hover::before {
    background: transparent;
    border-color: #ff6f32;
}

.on-way span {
    font-size: 12px;
    color: #cdd4de;
}

.second-col .on-way {
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.tip {
    opacity: 0;
    text-align: center;
    position: absolute;
    font-size: 12px;
    line-height: 18px;
    display: inline;
    width: 200px;
    padding: 15px;
    border-radius: 4px;
    background-color: #000;
    color: #eee;
    cursor: pointer;
    bottom: 0%;
    transform: translate(-100px, 30px);
    left: 50%;
    pointer-events: none;
    animation: fadetip-out .2s ease;
    z-index: 10;
}

.tip::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    background-color: #000;
    transform-origin: center center;
    transform: rotate(45deg) translateX(-3px) translateY(6px);
    bottom: 0;
    left: 50%;
    z-index: 10;
}

.show-tip {
    position: relative;
}

.show-tip:hover .tip {
    animation: fadetip 1s ease forwards;
}

@keyframes fadetip {
    40% {
        transform: translate(-100px, -10px);
        bottom: 100%;
    }
    40% {
        opacity: .9;
    }
    100% {
        transform: translate(-100px, -8px);
        opacity: 1;
        bottom: 100%;
    }
}

@keyframes fadetip-out {
    from { 
        transform: translate(-100px, -8px);
        bottom: 100%;
        opacity: 1;
    }
    to {
        transform: translate(-100px, 10px);
        opacity: 0;
    }
  }
